/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// 範例：
// .demosection {
//     [class^="col"] {
//         border: 2px solid #FFF;
//         background: #DEDEDE;
//     }
// }
// 首頁輪播
// .mpSlider {
//     width: 100%;
//     padding-bottom: 3em;
//     @include gutter(0);
//     .img-container {
//         @include aspect-ratio(5, 2);
//     }
// }
// 廣告輪播
// .adSlider {
//     @include gutter(70px);
//     margin-bottom: 20px;
//     @include screen('mobile') {
//         @include gutter();
//     }
//     .slick-prev {
//         background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
//         background-size: 80%;
//         left: -15px;
//     }
//     .slick-next {
//         background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
//         background-size: 80%;
//         right: -15px;
//     }
//     .img-container {
//         width: 165px;
//         height: 55px;
//         margin: 0px 15px;
//         a {
//             display: block;
//             text-align: center;
//             img {
//                 margin: 0 auto;
//             }
//         }
//         &:focus {
//             &:before {
//                 content: "";
//                 position: absolute;
//                 z-index: 9;
//                 width: 100%;
//                 height: 100%;
//                 top: 0;
//                 left: 0;
//                 bottom: 0;
//                 right: 0;
//                 box-shadow: 0 0px 0px 3px $primaryColor inset;
//             }
//         }
//     }
// }

// 圖片比例
.img-container1B1{ @include aspect-ratio(1,1); }
.img-container2B1{ @include aspect-ratio(2,1); }


.key_visual{
    background: $secondaryColor;
    >.container{
        background: url('../images/basic/img-key-visual.jpg') 50% top no-repeat;
        background-size: cover;
        position: relative;
        &:before{
            content:'';
            width: 100%;
            height: 90px;
            position: absolute;
            left: 0;
            // bottom: 0;
            // background: $secondaryColor;
            // height: 70px;
            z-index: 1;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.7+1,0+100 */
            background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 1%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 1%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 1%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        }
        // &:after{
        //     content:'';
        //     width: 100%;
        //     height: 60px;
        //     // background: $secondaryColor;
        //     background: pink;
        //     // position: absolute;
        //     // bottom: 0;
        //     // left: 0;
        // }
    }

    @include screen('mobile') {
        >.container{
            // background-size: contain;
            background-size: 180%;
            &:before{ display: none; }
        }
    }
}
// search + key visual
.Key-search{
    color: #fff;
    h2.slogan{
        background: url('../images/basic/img-key-slogan.png') 50% 65% no-repeat;
        display: block;
        width: 600px;
        height: 600px;
        // margin: 160px auto 70px;
        margin: 0 auto;
        padding-top: 160px;
        padding-bottom: 70px;
        font-size: 0;

        // &:after{
            // content:"123";
            // display: block;
            // // background: $lightColor;
            // width: 300px;
            // height: 80px;
        // }
    }

    h3{
        font-size: 0;
        background: url('../images/basic/title-search.png') no-repeat;
        width: 260px;
        height: 60px;
    }
    .container{
        background: $lightColor;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 1.5em 2em; 
        position: relative;
        .col{
            display: block;
            margin-top: 2em;
        }
        &:after{
            content:'';
            width: 52px;
            height: 52px;
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: -90px;
            background: url(../images/basic/bg-X-red.png) 50% 50% no-repeat;
        }
    }

    .btn-go{
        padding: .5em 2em;
        margin-top: 2px;

        width: 16%;
    }
    
    form.form_inline{
        .form_grp{
            width: 16%;
            margin-right: .08em;
            label{ display: block; }
            select{ width: 100%; }

            input[type="text"]{ width: 100%; }
        }
    }

    @include screen('notebook') {
        .btn-go{ width: 32%; }
        form.form_inline{;
            .form_grp{
                width: 32.7%;
                margin-right: 0;
                margin-bottom: .75em;
            }
        }
    }

    @include screen('mobile') {
        h2.slogan{
            width: 90%;
            // height: 400px;
            background: url(../images/basic/img-key-slogan.png) 50% 95% no-repeat;
            background-size: contain;
        }
        h3{}
        .btn-go{
            display: block;
            margin: .5em auto 0; 
            width: 200px;
        }
        form.form_inline{
            .form_grp{
                width: 100%;
            }
        }
    }
    @include screen('xs_mobile') {
        h2.slogan{ height: 340px; }
    }
}


// 共用背景 service、news
.cross-bg{
    background: url(../images/basic/bg-cross-bg.jpg) right bottom no-repeat, $color-gray;
}

// 預約通譯服務
.service{
    text-align: center;
    padding-top: 8em;
    position: relative;

    .container{
        background: url(../images/basic/bg-red-dot.gif), #fff;
        &:before{
            content:'';
            position: absolute;
            width: 50%;
            height: 100%;
            background: url(../images/basic/bg-red-dot.gif) right top, #fff;
            left: -50%;
        }
    }

    // &:before{
    //     content:'';
    //     position: absolute;
    //     width: 50%;
    //     height: 368px;
    //     background: url(../images/basic/bg-red-dot.gif) right top, #fff;
    //     left: 0;
    // }

    h3{
        font-size: 0;;
        background: url(../images/basic/title-service.png) no-repeat;
        width: 230px;
        height: 85px;
        // margin-top: -30px;
        position: absolute;
        top: -30px;
    }
    h4{
        font-size: 1.25em;
    }
    img{
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
    p{
        text-align: left;
        padding: 1em 3em;
    }
    .col{
        margin-top: 80px;
        // width: 28%;
        // float: left;
        &:last-child{ margin-left: 0; }
    }

    @include screen('mobile') {
        &:before{
            width: 100%;
            height: 100%;
        }
        p{
            text-align: center;
        }
        .col{
            width: 100%;
        }
        .container{
            @include gutter(60px);
        }
    }
}

// news
.news{
    // background: $color-gray;
    padding: 6em 0 3em;
    position: relative;

    h3{
        font-size: 0;
        background: url(../images/basic/title-news.png) no-repeat;
        width: 150px;
        height: 85px;
    }
    ul{
        @include li-reset();
        background: rgba(255,255,255, .5);
        // padding: 2em 0;
        margin: 1.25em 0;
        border-top: solid 2px $lightColor;

        li{
            a{
                display: block;
                padding: 1em 2em;
                color: $color-dark;
                border-bottom: solid 2px #fff;

                background: transparent;
                transition: background .4s ease;

                .date{
                    padding-right: 2em;
                }

                &:hover, &:focus{
                    background: rgba(0,0,0,.5);
                    color: #fff;
                    .date{ color: rgba(255,255,255,.75); }
                }
            }
        }
    }
    span.date{ color: #666; }

    .btn_grp{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3em;
        z-index: 1;
    }

    @include screen('mobile') {
        // padding: 10em 0 3em;
        span.date{
            display: block;
            margin-bottom: .25em;
        }
        .container{
            @include gutter(60px);
        }
    }
}

// 通譯課程
.course{
    background:$color-gray;
    position: relative;
    // margin-top: -50px;

    &:before{
        content:'';
        position: absolute;
        width: 74%;
        height: 83%;
        background: url(../images/basic/bg-red-dot.gif), #fff;
        left: 0;
    }

    .container{ padding-top: 8em; }

    h3{
        position: absolute;
        font-size: 0;
        background: url(../images/basic/title-course.png) no-repeat;
        width: 180px;
        height: 150px;
        z-index: 2;
        top: 56px;
    }
    a{
        color: #fff;
        display: block;
        position: relative;
        height: 400px;
        width: 100%;
        overflow: hidden;

        // opacity:0;

        p{
            position: absolute;
            width: 100%;
            margin: 0; 
            padding: 1.5em 1.25em 1em;
            background: rgba(0,0,0,.47);
            z-index: 1;

            bottom: -50%;
            transition: bottom .6s ease;

            &:before{
                content:'';
                display: block;
                width: 100%;
                height: 1px;
                background: #fff;
                margin-bottom: .5em;
            }
        }
        // img{ width: 100%; }
        .img-container{
            @include aspect-ratio(1,1);
            height: 100%;
            img{
                transform:scale(1);
                transition: transform .6s ease;
            }
        }


        &:hover, &:focus{
            p{ bottom: 0; }
            .img-container{
                img{ transform:scale(1.3); }
            }
        }

        // @keyframes LinkInfo {
        //     from { bottom: -50%; }
        //     to { bottom: 0; }
        // }
    }

    .mix{
        a{ height: 200px; }
    }

    .btn_grp{
    }

    @include screen('mobile') {
        &:before{
            width: 100%;
        }
        a{
            p{ bottom: 0; }
        }
        .mix{
            a{ height: 400px; }
        }
    }
}

// 成為通譯
.join{
    background: $color-gray;
    // url(../images/basic/bg-red-dots.gif) right 100px no-repeat,
    padding: 5em 0;

    position: relative;

    // &:after{
    //     content:'123';
    //     display: block;
    //     width: 80%;
    //     height: 300px;
    //     // background: red;
    //     background: url(../images/basic/bg-red-dots.gif) right 100px no-repeat;
    // }

    &:before{
        content:'';
        position: absolute;
        width: 74%;
        height: 54%;
        background: url(../images/basic/bg-red-dot.gif), #fff;
        right: 0;
        top: 25%;
    }

    .container{}

    [class^="col"] {
        &:nth-child(1){
            background: url('../images/basic/bg-join-female-1.png') 50% top no-repeat;
        }
        &:nth-child(2){
            background: url('../images/basic/bg-join-male-1.png') 50% top no-repeat;
        }
        &:nth-child(3){
            background: url('../images/basic/bg-join-female-2.png') 50% top no-repeat;
        }
    }

    a{
        display: block;
        margin: 20em auto 0;
        width: 220px;
        height: 190px;
        padding: 2.25em;
        background: $lightColor;
        color: #fff;

        position: relative;
        transition: height .5s ease,
                    margin .5s ease;

        &:before{
            content:'';
            position: absolute;
            left: .75em;
            top: .75em;
            width: 20px;
            height: 20px;
            background: url("../images/basic/bg-join-note.png") 50% 50% no-repeat;
        }
        &:after{
            content:'';
            position: absolute;
            right: .75em;
            bottom: .75em;
            width: 38px;
            height: 38px;
            background: url("../images/basic/bg-X.svg") 50% 50% no-repeat;
        }

        p{
            font-size: 1.5em;
            font-weight: bold;
            line-height: 1.3;
            margin: 0 0 .5em 0;
        }
        span{
            font-size: 1em;
        }

        &:hover, &:focus{
            height: 300px;
            margin: 13em auto 0;
            // animation: Inflate .5s ease;
        }
    }

    @include screen('tablet') {
        [class^="col"] {
            &:nth-child(2){
                background: url('../images/basic/bg-join-male-1-mobile.png') 50% top no-repeat;
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3){
                background-size: contain;
            }
        }
        a{ margin: 16em auto 0; }
    }

    @include screen('mobile') {
        &:before{
            width: 100%;
            height: 60%;
            top: 20%;
        }
        a{ margin-bottom: 2em; }
    }
}






